:root{
  --game-width: 80vw;

  /*piano vars*/
  --num-keys: 7;
  --border-width: 2px;

  --key-width: calc( 
      (var(--game-width) / var(--num-keys)) - 
      (var(--border-width) * 2) -
      1px);

  
  /*tile vars*/
  --tile-margin: 1px;
  --tile-width: calc((var(--game-width) / 6) - (4* var(--tile-margin)) - var(--border-width));
}


body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  overflow: hidden;
}

h1{
  font-size: 60px;
  letter-spacing: 10px;
  margin: 0px;
}

#game{  
  display: flex;
  flex-direction: column;
  text-align: center;
  width: var(--game-width);
  
}

/*
### Grid CSS
*/
#tiles{
  margin-bottom: 40px;
  flex: 1;
  flex-shrink: 1;
}

.row{
  display: flex;
  justify-content: space-around;
}

.tile{
  border: 2px solid black;
  margin: var(--tile-margin);
  flex: 1 0 auto;
  max-width: var(--tile-width);
  height: auto;
}

.tile:before{
  content: '';
  float: left;
  padding-top: 100%;
}

.note{

  max-width: 90%;
  max-height: 90%;
}

.correct{
  background-color: orange;
}

.almost{
  background-color: lightblue;
}

.wrong{
  background-color: grey;
}

.correct, .wrong, .almost, .note{
  animation-name: boing;
  animation-duration: 0.2s;
}

@keyframes boing{
  0%   {transform:scale(1.0)}
  50%  {transform:scale(1.05)}
  100% {transform:scale(1.0)}
}

/*
### Piano CSS
*/
#piano{
  flex: 1;
  height: 200px;
  width: var(--kb-width);
  position: relative;
  padding-left:  calc(var(--tile-margin) * 1.5);
}

.key{
  position: relative;
  float: left;
}

.white{
  background-color: white;
  border: var(--border-width) solid black; 

  height: 200px;
  width: var(--key-width);
  z-index: 1;
}


.black{
  background-color: black;
  border: var(--border-width) solid white; 
  border-top: none;
  border-bottom: none;

  height: 100px;
  width: var(--key-width);

  z-index: 2;
}

.a, .b, .d, .e, .g, .black{
  margin-left: calc((-1 * (var(--key-width) / 2)) - var(--border-width));
}

/*
### Clickable Elements
*/
#controls{
  flex:1;
  display: flex;
  justify-content: flex-end;
  padding-right: 1vw;
}

.clickable{
  flex-direction: row-reverse;
  width: 20vw;
  height: 20px;
  border-radius: 5px;
 
  cursor: pointer;
  user-select: none;


  padding: 10px;
  margin: 10px 0 0 10px;

  font-weight: bold;
  background-color: grey;
}

.clickable p{
  margin: 0;
}